* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;

  --gray-100: #f7f7f7;

  --black-400: #0000008a;
  --black-500: #000000de;

  --blue-300: #4285f4;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  height: 100%;
  background: var(--gray-100);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--black-500);
}

p,
li {
  color: var(--black-400);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

.card {
  border-radius: 2px;
  background-color: var(--white);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%);
}
