.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 16px;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
  opacity: 0.8;
}

.tooltip .tooltipText::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}
